<div class="position-fixed bottom-0 end-0 p-3">
    <div id="toast" class="alert alert-dismissible fade hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <!NODATA>
        </div>
    </div>
</div>
